@model TFT.View.Models.Champions.ChampionsViewModel

<link href="~/css/Champions/ChampionsList.css" rel="stylesheet" />


<div class='content-ChampionsList @(Model.FormData.Biggest ? "moreCost" : "")'>
    @for (var i = 1; i <= 5; i++)
    {

        <div class="row">
            @foreach (var champ in Model.Champions)
            {
                if (champ.Cost == i.ToString())
                {
                    bool containsClass = champ.TraitsId.Exists(item => item == Model.FormData.Class);

                    if (containsClass || Model.FormData.Class == null)
                    {
                        bool containsOrigin = champ.TraitsId.Exists(item => item == Model.FormData.Origin);

                        if (containsOrigin || Model.FormData.Origin == null)
                        {
                            <div class="champions-cost">
                                <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0)">
                                        <path d="M15.8 10.9127C18.2 10.3175 19.8 8.9286 19.8 7.34129V3.96825C19.8 1.78571 16.2 -0.198364 12 -0.198364C7.6 -0.198364 4.19995 1.5873 4.19995 3.96825V6.15074C1.79995 6.9444 0.199951 8.33338 0.199951 9.72227V13.0952C0.199951 15.4761 3.8 17.2619 8 17.2619C12.2 17.2619 15.8 15.2777 15.8 13.0952V10.9127ZM5 9.32542C6.4 10.5159 9.00005 11.5079 11.8 11.5079C12 11.5079 12.4 11.5079 12.6 11.5079V12.6985C12 13.0953 10.4 13.8889 7.80005 13.8889C5.20005 13.8889 3.6 13.0953 3 12.6985V10.119C3.2 9.92059 3.40005 9.92068 3.80005 9.72227C4.20005 9.52386 4.6 9.52383 5 9.32542Z" fill="#808080" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0">
                                            <rect width="20" height="17.8571" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                                @i
                            </div>

                            break;

                        }
                    }
                }
            }


            <div class='row-list row-@i'>
                @foreach (var champ in Model.Champions)
                {
                    if (champ.Cost == i.ToString())
                    {
                        bool containsClass = champ.TraitsId.Exists(item => item == Model.FormData.Class);

                        if (containsClass || Model.FormData.Class == null)
                        {
                            bool containsOrigin = champ.TraitsId.Exists(item => item == Model.FormData.Origin);

                            if (containsOrigin || Model.FormData.Origin == null)
                            {
                                <div class="item-list">
                                    <img src="~/Data/Images/champions/@champ.ChampionImg" style="border: 1px solid @(champ.Cost == "5" ? "#DD9325" : champ.Cost == "4" ? "#7F2E9B" : champ.Cost == "3" ? "#175398" : champ.Cost == "2" ? "#0B6F27" : "#19252C" ); " />
                                    <div class="champion-info">
                                        <div class="champion-name">
                                            <img src="~/Data/Images/champions/@champ.ChampionImg" style="border: 1px solid @(champ.Cost == "5" ? "#DD9325" : champ.Cost == "4" ? "#7F2E9B" : champ.Cost == "3" ? "#175398" : champ.Cost == "2" ? "#0B6F27" : "#19252C" ); " />
                                            <p>@champ.Name</p>
                                        </div>
                                        <div class="champion-traits">
                                            @{ var position = 0;}
                                            @foreach (var traits in champ.Traits)
                                            {
                                                <div class="trait">
                                                    <img src="~/Data/Images/traits/@champ.TraitsImg[position]" />
                                                    <p>@traits</p>
                                                </div>

                                                position++;
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                }
            </div>
        </div>
    }
<div class="notFoundResult d-none">
    <p>Ops! Nenhum resultado foi encontrato.</p>
    <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M29.7083 26.8333H28.1942L27.6575 26.3158C29.5358 24.1308 30.6667 21.2942 30.6667 18.2083C30.6667 11.3275 25.0892 5.75 18.2083 5.75C11.3275 5.75 5.75 11.3275 5.75 18.2083C5.75 25.0892 11.3275 30.6667 18.2083 30.6667C21.2942 30.6667 24.1308 29.5358 26.3158 27.6575L26.8333 28.1942V29.7083L36.4167 39.2725L39.2725 36.4167L29.7083 26.8333V26.8333ZM18.2083 26.8333C13.4358 26.8333 9.58333 22.9808 9.58333 18.2083C9.58333 13.4358 13.4358 9.58333 18.2083 9.58333C22.9808 9.58333 26.8333 13.4358 26.8333 18.2083C26.8333 22.9808 22.9808 26.8333 18.2083 26.8333Z" fill="#616161" />
    </svg>
</div>
</div>

<script src="~/js/Champions/ChampionsList.js"></script>
